/* place global styles here */
body.light-theme {
  --background-color: white;
  --medium-color: #ccc;
  --shadow-color: #ccc8;
  --text-color: #222;
  --cursor-color: #7e7;
  --border-color: #ddd;
}
body.dark-theme {
  --background-color: #222;
  --medium-color: #555;
  --shadow-color: #5554;
  --text-color: white;
  --cursor-color: #7e7;
  --border-color: #666;
}
body {
  background: var(--background-color);
  color: var(--text-color);
}

button, select {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  border: solid 1px var(--medium-color);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

button {
  cursor: pointer;
}

.light-theme .removing, .light-theme .removing span {
  background: #ffd0d0;
}
.dark-theme .adding, .dark-theme .adding span {
  background: #b6ffb6;
}
.dark-theme .removing, .dark-theme .removing span {
  background: #ffd0d0b0;
}
.light-theme .adding, .light-theme .adding span {
  background: #b6ffb6b0;
}
